<form
  class="rover-form"
  (ngSubmit)="executeMoveRovers()"
  #roverForm="ngForm"
  (input)="clearResults()"
>
  <h2>Define Grid Dimensions</h2>
  <div class="dimension-container">
    <mat-form-field class="rover-form-plateau-input" appearance="fill">
      <mat-label>Height</mat-label>
      <input
        matInput
        type="number"
        name="height"
        placeholder="0"
        min="0"
        [(ngModel)]="plateau.height"
        required
      />
    </mat-form-field>

    <mat-form-field class="rover-form-plateau-input" appearance="fill">
      <mat-label>Width</mat-label>
      <input
        matInput
        type="number"
        name="width"
        placeholder="0"
        min="0"
        [(ngModel)]="plateau.width"
        required
      />
    </mat-form-field>
  </div>

  <div *ngFor="let rover of rovers; let index = index">
    <h2>Rover {{ index + 1 }}</h2>
    <h3>Provide Starting Point</h3>
    <div class="coordinates-container">
      <mat-form-field class="rover-form-starting-input" appearance="fill">
        <mat-label>X</mat-label>
        <input
          matInput
          type="number"
          min="0"
          name="rover-{{ index }}-x-coordinate"
          [(ngModel)]="rover.currentLocation.x"
          required
        />
      </mat-form-field>
      <mat-form-field class="rover-form-starting-input" appearance="fill">
        <mat-label>Y</mat-label>
        <input
          matInput
          type="number"
          min="0"
          name="rover-{{ index }}-y-coordinate"
          [(ngModel)]="rover.currentLocation.y"
          required
        />
      </mat-form-field>
      <mat-form-field class="rover-form-starting-input" appearance="fill">
        <mat-label>Direction</mat-label>
        <select
          name="rover-{{ index }}-starting-direction"
          [(ngModel)]="rover.currentDirection"
          matNativeControl
          required
        >
          <!-- <mat-option *ngFor="let direction of directionsArray" [value]="direction.value"></mat-option> -->
          <option value="N">N</option>
          <option value="E">E</option>
          <option value="S">S</option>
          <option value="W">W</option>
        </select>
      </mat-form-field>
    </div>

    <h3>Provide Directions</h3>
    <mat-form-field class="rover-form-directions-input" appearance="fill">
      <mat-label>Directions</mat-label>
      <input
        matInput
        placeholder="ex. LMLMLMLMM"
        (keypress)="filterInputDirections($event)"
        [(ngModel)]="rover.givenDirections"
        onPaste="return false"
        name="rover-{{ index }}-given-directions"
        autocomplete="off"
        required
      />
      <mat-hint>Only "L", "R", and "M" are accepted</mat-hint>
    </mat-form-field>
  </div>

  <button
    class="add-rover-btn"
    type="button"
    (click)="addRover()"
    mat-raised-button
  >
    Add Rover
  </button>

  <button
    class="delete-rover-btn"
    type="button"
    (click)="deleteRover()"
    *ngIf="rovers.length > 1"
    color="warn"
    mat-button
  >
    Delete Rover
  </button>

  <button
    class="submit-rover-btn"
    type="submit"
    color="primary"
    [disabled]="!roverForm.form.valid"
    mat-raised-button
    (click)="(executeMoveRovers)"
  >
    Go Rovers, Go!
  </button>
</form>
