.rover-form {
  width: 100%;
  margin-top: 24px;

  .dimension-container,
  .coordinates-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &-plateau-input {
    width: 48%;
  }

  &-starting-input {
    width: 30%;
  }

  &-directions-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .add-rover-btn {
    margin-top: 5px;
  }

  .submit-rover-btn {
    display: block;
    background-color: #1976d2;
    margin-top: 24px;
  }

  .submit-rover-btn:disabled {
    background-color: lightgrey;
    color: #fff;
  }
}

.result-section {
  width: 33%;
  margin-top: 24px;
}

.invalid-directions {
  margin-top: 24px;
  font-size: 20px;
  color: #b2102f;
}
